[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ginbroker
[access "refs/for/refs/*"]
	read = group user/ginbroker
	push = group user/ginbroker
	label-Code-Review = -2..+2 group user/ginbroker
	label-Verified = -1..+1 group user/ginbroker
	rebase = group user/ginbroker
	removeReviewer = group user/ginbroker
	submit = group user/ginbroker
[access "refs/heads/*"]
	read = group user/ginbroker
	create = group user/ginbroker
	push = +force group user/ginbroker
	pushMerge = group user/ginbroker
[access "refs/tags/*"]
	push = +force group user/ginbroker
	pushTag = group user/ginbroker
	pushSignedTag = group user/ginbroker
